body {
    margin: 0;
    font-family: arial;

    display: grid;
    height: 100vh;
    grid-template: 100px 1fr auto / 65% auto;
}
header {
    background:lightblue;
    grid-column: 1/3;
}

.barnav {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.barnav li {
    flex: 1 1 auto;
}
ul {
    background: lightgreen;
    margin: 0;
}

main {
    background: lightcoral;
}

div {
    background: lightcyan;
}

footer {
    background: lightgreen;
    grid-column: 1/3;
}