
* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / 60% auto;
}

/* -------------------------------------------------- */
header {
    color: white;
    grid-column: 1 / 3;
    background: #1d4d72;
    text-align: center;
}

#course-title {
    font-family: Georgia;
    font-size: 200%;
    font-weight: bold;
    letter-spacing: 1px;
}

.tabnav {
    background-color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
}

.tabnav li {
    flex: 1 1 auto;
}

.tabnav a {
    color: white;
    display: block;
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
}

.tabnav a:hover {
    text-decoration: underline;
}

/* -------------------------------------------------- */
main {
    grid-column: 1 / 3;
    background: white;

    display: grid;
    grid-template: 100px auto / 60% auto;
    overflow-x: hidden;
}

h1 {
    grid-column: 1 / 3;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    text-align: center;
    color: white;
    margin: 0;
    padding: 10px;
    background: #1d4d72;
    font-size: 1.4rem;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

h3{
    text-align: center;
    font-size: 25px;
}

/* -------------------------------------------------- */
.card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin-bottom: 15px;
    border-radius: 12px;
}

#card1 {
    margin-left: 60px;
    margin-right: 5px;
}

#card2 {
    margin-right: 60px;
    margin-left: 5px;
}

/* -------------------------------------------------- */
.about-me {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 2rem;
    align-items: start;
}

.state {
    display: grid;
    grid-template-columns: auto 1fr;
}

.parrafo {
    margin: 20px;
    margin-top: 30px;
}

/* -------------------------------------------------- */
footer {
    grid-column: 1 / 3;
    background: #1d4d72;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#lastModified {
    color: rgb(193, 206, 21);
}

/* -------------------------------------------------- */
img {
    max-width: 100%;
    height: auto;
}

.photo1 {
    width: 200px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.flag {
    width: 180px;
    border-radius: 8px;
    border: 2px solid #ddd;
}

figcaption {
    text-align: center;
    margin: 0;
    font-size: 13px;
}

/* -------------------------------------------------- */
.web-dev {
    margin: 200px;
    width: 100%;
}

.web-dev a:hover {
    color: #004080;
}

