* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}

/* Navigation Mobil */
header{
    background-color: #3c0a64;
    display: grid;
    grid-gap: 1rem;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px #333;
}

header, main{
    margin: 0 auto;
}

.tittle{
    font-size: 1.8rem;
    color: #fff;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}


nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: larger;
    
}

/* menu with button */
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "🟰";
}

#menu.open::before {
    content: "❎";
}

.navigation {
    display: none;
}

.navigation.open {
    display: flex;
}

/* MAIN */

img {
    width: 300px;
}
main{
    max-width: 800px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: auto;
    text-align: center;
}

/* FOOTER */
footer{
    background-color: #3c0a64;
    text-align: center;
    color: #fff;
    padding: 10px;
}
